/* Custom Scrolling Animation */
.scroll-container {
  overflow: hidden;
  width: 100%;
  height: 20px;
  position: relative;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-back-and-forth 15s linear infinite;
}

@keyframes scroll-back-and-forth {
  0% { transform: translateX(0%); }
  50% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}